.form-wrapper {
    display: flex;
    justify-content: center;
    margin: 52px 0;

}
.form-wrapper h2 {
    text-align: center;
}

.form-wrapper form {
    max-width: 80%;
    background-color: #F2F2F2;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgb(0, 0, 0, 0.08);
    border-radius: 20px;
}